In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('data/Train.csv')

In [4]:
df.head(5)

,id,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,...,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,price
0,0,2011-01-01,531,NaN,12,35,1,1,25.0,NaN,...,0,0,0,0,0,0,0,0,0,3721000
1,1,2011-01-01,385,2.0,15,46,1,2,15.0,1.0,...,0,0,0,0,0,0,0,0,0,7431000
2,2,2011-01-01,51,0.0,1,53,3,0,30.0,0.0,...,0,0,0,0,0,0,0,0,0,3081000
3,3,2011-01-01,76,0.0,1,60,3,0,30.0,0.0,...,0,0,0,0,0,0,0,0,0,3847000
4,4,2011-01-01,114,0.0,2,43,2,0,30.0,0.0,...,0,0,0,0,0,0,0,0,0,2323000

In [5]:
df['year'] = df['date'].map(lambda x: int(str(x).split('-')[0]) )

In [6]:
coeff_x=1.107

In [7]:
df['month'] = df['date'].map(lambda x: int(str(x).split('-')[1]) )

In [8]:
df['metro_dist'] = df['metro_dist'].fillna(
                                        df.metro_dist.mean()
                                        )

## Бинаризация

In [53]:
def cat_to_num(data):
    categories = pd.unique(data)
    features = {}
    for cat in categories:
        binary = (data == cat)
        features['street_'+str(cat)] = binary.astype('int')
    return pd.DataFrame(features)

df = df.join(cat_to_num(df['street_id']))

In [54]:
df_extemes = df[df.area>90]
df = df[df.area <= 90]

In [13]:
df['price'] = df.apply(lambda x: x['price']*coeff if x['year']==2011 else x['price'], axis=1)

In [18]:
from sklearn.model_selection import train_test_split
import lightgbm as lgb

In [19]:
df[df.build_tech>=0].count()

id            67936
date          67936
street_id     67936
build_tech    67936
floor         67936
area          67936
rooms         67936
balcon        67936
metro_dist    67936
g_lift        47395
n_photos      67936
kw1           67936
kw2           67936
kw3           67936
kw4           67936
kw5           67936
kw6           67936
kw7           67936
kw8           67936
kw9           67936
kw10          67936
kw11          67936
kw12          67936
kw13          67936
price         67936
year          67936
street_531    67936
street_385    67936
street_51     67936
street_76     67936
              ...
street_485    67936
street_523    67936
street_88     67936
street_67     67936
street_453    67936
street_376    67936
street_226    67936
street_261    67936
street_456    67936
street_86     67936
street_292    67936
street_375    67936
street_583    67936
street_419    67936
street_427    67936
street_610    67936
street_246    67936
street_568    67936
street_397    67936
street_235    67936
street_62     67936
street_416    67936
street_462    67936
street_326    67936
street_512    67936
street_178    67936
street_407    67936
street_495    67936
street_349    67936
street_560    67936
Length: 698, dtype: int64

In [100]:
train, test = train_test_split(df, test_size = 0.6)

In [31]:
features = list(set(df.columns) - set(['id', 'price', 'street_id', 'year', 'g_lift', 'date']))

In [101]:
lgb_data_train = lgb.Dataset(train[features].values, train['price'])
lgb_data_test = lgb.Dataset(test[features].values, test['price'])

In [91]:
params = {
    'objective':'regression', 
    'metric': 'mae',
    'learning_rate': 0.07, 
    'nthread': 4,
    'reg_alpha': 45
}

In [102]:
model2 = lgb.train(params, lgb_data_train, 
                  valid_sets=[lgb_data_train, lgb_data_test],
                  num_boost_round=5000,
                  early_stopping_rounds=100, verbose_eval=40)

Training until validation scores don't improve for 100 rounds
[40]	training's l1: 1.431e+06	valid_1's l1: 1.451e+06
[80]	training's l1: 1.21312e+06	valid_1's l1: 1.24333e+06
[120]	training's l1: 1.07014e+06	valid_1's l1: 1.105e+06
[160]	training's l1: 975410	valid_1's l1: 1.01344e+06
[200]	training's l1: 910155	valid_1's l1: 951342
[240]	training's l1: 863091	valid_1's l1: 906903
[280]	training's l1: 826982	valid_1's l1: 873084
[320]	training's l1: 798333	valid_1's l1: 846788
[360]	training's l1: 775757	valid_1's l1: 827175
[400]	training's l1: 756711	valid_1's l1: 810768
[440]	training's l1: 740050	valid_1's l1: 796512
[480]	training's l1: 726449	valid_1's l1: 785245
[520]	training's l1: 714274	valid_1's l1: 775474
[560]	training's l1: 703625	valid_1's l1: 767352
[600]	training's l1: 694200	valid_1's l1: 760929
[640]	training's l1: 685953	valid_1's l1: 755456
[680]	training's l1: 677775	valid_1's l1: 750158
[720]	training's l1: 671323	valid_1's l1: 746046
[760]	training's l1: 665478	valid_1's l1: 742087
[800]	training's l1: 660025	valid_1's l1: 739342
[840]	training's l1: 654881	valid_1's l1: 736671
[880]	training's l1: 650186	valid_1's l1: 734348
[920]	training's l1: 645633	valid_1's l1: 732109
[960]	training's l1: 641345	valid_1's l1: 730367
[1000]	training's l1: 637511	valid_1's l1: 728908
[1040]	training's l1: 633735	valid_1's l1: 727533
[1080]	training's l1: 630079	valid_1's l1: 726088
[1120]	training's l1: 626542	valid_1's l1: 725011
[1160]	training's l1: 623505	valid_1's l1: 724366
[1200]	training's l1: 620324	valid_1's l1: 723196
[1240]	training's l1: 617001	valid_1's l1: 722283
[1280]	training's l1: 614126	valid_1's l1: 721555
[1320]	training's l1: 610731	valid_1's l1: 720200
[1360]	training's l1: 608018	valid_1's l1: 719475
[1400]	training's l1: 605582	valid_1's l1: 719012
[1440]	training's l1: 603289	valid_1's l1: 718582
[1480]	training's l1: 600725	valid_1's l1: 718138
[1520]	training's l1: 598695	valid_1's l1: 718129
[1560]	training's l1: 596789	valid_1's l1: 718462
[1600]	training's l1: 594781	valid_1's l1: 718155
Early stopping, best iteration is:
[1510]	training's l1: 599174	valid_1's l1: 717964

# Выбросы

In [39]:
import sklearn.ensemble

In [55]:
df_extemes

,id,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,...,street_62,street_416,street_462,street_326,street_512,street_178,street_407,street_495,street_349,street_560
14,14,2011-01-01,384,2.0,6,99,3,2,0.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
16,16,2011-01-01,75,NaN,11,93,3,0,5.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
47,47,2011-01-01,9,NaN,5,185,5,1,5.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
98,98,2011-01-01,59,1.0,9,97,3,1,5.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
137,137,2011-01-01,231,1.0,9,183,5,1,30.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
144,144,2011-01-01,517,1.0,12,99,3,1,20.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
167,167,2011-01-01,647,2.0,12,102,3,2,30.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
187,187,2011-01-01,581,2.0,9,166,4,0,10.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
260,260,2011-01-01,595,1.0,1,95,3,1,21.858543,NaN,...,0,0,0,0,0,0,0,0,0,0
373,373,2011-01-01,230,1.0,12,183,5,1,30.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
428,428,2011-01-01,99,1.0,9,91,3,0,20.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
442,442,2011-01-01,137,1.0,1,125,4,1,20.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
505,505,2011-01-01,411,1.0,5,91,3,0,21.858543,0.0,...,0,0,0,0,0,0,0,0,0,0
506,506,2011-01-01,212,1.0,9,183,5,0,30.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
523,523,2011-01-01,218,NaN,3,110,3,0,30.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
528,528,2011-01-01,172,1.0,12,95,3,1,30.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
534,534,2011-01-01,367,NaN,3,141,4,1,30.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
541,541,2011-01-01,8,1.0,7,110,3,0,30.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
561,561,2011-01-01,548,1.0,5,110,3,1,15.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
574,574,2011-01-01,46,NaN,6,99,3,1,30.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
640,640,2011-01-01,5,1.0,10,91,3,0,15.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
768,768,2011-01-01,425,1.0,10,183,5,0,10.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
784,784,2011-01-01,340,1.0,4,91,3,0,5.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
789,789,2011-01-01,28,1.0,1,92,3,0,21.858543,0.0,...,0,0,0,0,0,0,0,0,0,0
815,815,2011-01-01,648,2.0,1,99,3,2,10.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
932,932,2011-01-01,169,1.0,5,183,5,1,30.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
935,935,2011-01-01,614,NaN,2,109,3,1,20.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
950,950,2011-01-01,144,NaN,8,165,4,0,21.858543,0.0,...,0,0,0,0,0,0,0,0,0,0
1037,1037,2011-01-01,8,NaN,3,112,3,1,30.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
1071,1071,2011-01-01,368,2.0,11,173,4,0,30.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99064,99064,2012-06-01,610,1.0,7,110,3,1,25.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
99092,99092,2012-06-01,566,NaN,12,91,3,1,10.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
99102,99102,2012-06-01,46,1.0,4,91,3,1,10.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
99110,99110,2012-06-01,564,1.0,2,110,3,1,30.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
99120,99120,2012-06-01,325,1.0,7,91,3,1,20.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
99139,99139,2012-06-01,282,NaN,1,183,5,1,15.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
99154,99154,2012-06-01,196,1.0,8,99,3,1,30.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
99192,99192,2012-06-01,73,1.0,11,183,5,1,30.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
99381,99381,2012-06-01,298,1.0,11,183,5,1,30.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
99431,99431,2012-06-01,184,1.0,5,91,3,0,15.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
99447,99447,2012-06-01,273,NaN,1,154,4,0,30.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
99463,99463,2012-06-01,421,1.0,3,101,3,1,25.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
99572,99572,2012-06-01,519,2.0,1,97,3,0,30.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
99577,99577,2012-06-01,539,NaN,1,183,5,1,15.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
99599,99599,2012-06-01,308,1.0,11,183,5,0,5.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
99627,99627,2012-06-01,665,1.0,12,91,3,1,21.858543,NaN,...,0,0,0,0,0,0,0,0,0,0
99671,99671,2012-06-01,546,1.0,2,109,3,1,15.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
99698,99698,2012-06-01,330,NaN,4,183,5,1,30.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
99702,99702,2012-06-01,564,NaN,9,91,3,1,30.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
99734,99734,2012-06-01,421,1.0,2,154,4,1,25.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
99797,99797,2012-06-01,602,1.0,10,95,3,0,15.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
99869,99869,2012-06-01,196,NaN,9,108,3,1,30.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
99875,99875,2012-06-01,132,1.0,1,95,3,1,30.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
99878,99878,2012-06-01,612,1.0,3,154,4,1,30.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
99885,99885,2012-06-01,282,1.0,4,109,3,0,20.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
99909,99909,2012-06-01,43,NaN,11,91,3,1,25.000000,NaN,...,0,0,0,0,0,0,0,0,0,0
99910,99910,2012-06-01,127,NaN,3,182,5,1,25.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
99942,99942,2012-06-01,373,NaN,5,182,5,1,30.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
99959,99959,2012-06-01,559,1.0,12,95,3,1,20.000000,1.0,...,0,0,0,0,0,0,0,0,0,0
99975,99975,2012-06-01,39,1.0,12,124,4,1,5.000000,1.0,...,0,0,0,0,0,0,0,0,0,0

In [106]:
model_extremes = sklearn.ensemble.RandomForestRegressor(n_jobs=4, n_estimators=100)

In [121]:
model_extremes.fit(df_extemes.drop(['price','date','year', 'build_tech',  'g_lift'], axis=1) ,
                   df_extemes['price'])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=4,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [58]:
from sklearn.metrics import mean_absolute_error as MAE

In [122]:
MAE( df_extemes['price'], 
    model_extremes.predict(df_extemes.drop(['price','date','build_tech','year', 'g_lift'], axis=1))  )

1580345.4561342187

# Предсказание

In [62]:
df_pred = pd.read_csv('data/Test.csv')

In [63]:
df_pred['metro_dist'] = df_pred['metro_dist'].fillna(
                                        df_pred.metro_dist.mean()
                                        )

In [64]:
df_pred['year'] = df_pred['date'].map(lambda x: int(str(x).split('-')[0]) )

In [107]:
df_pred['month'] = df_pred['date'].map(lambda x: int(str(x).split('-')[1]) )

In [65]:
def cat_to_num(data):
    categories = pd.unique(data)
    features = {}
    for cat in categories:
        binary = (data == cat)
        features['street_'+str(cat)] = binary.astype('int')
    return pd.DataFrame(features)

df_pred = df_pred.join(cat_to_num(df_pred['street_id']))

In [103]:
df_pred['price_norm'] = model.predict(df_pred[features])

In [104]:
df_pred['price_norm1'] = model1.predict(df_pred[features])

In [105]:
df_pred['price_norm2'] = model2.predict(df_pred[features])

In [123]:
df_pred['price_x_new'] = model_extremes.predict(df_pred.drop(['date','build_tech','year','g_lift', 'price_norm', 'price_norm1', 'price_norm2', 'price','price_x'], axis=1))

In [126]:
df_pred

,id,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,...,street_549,street_367,street_476,street_484,price_norm,price_x,price,price_norm1,price_norm2,price_x_new
0,100000,2012-06-01,427,NaN,9,60,3,1,30.000000,0.0,...,0,0,0,0,4.375467e+06,1.292924e+07,4319765,4.544053e+06,4.117755e+06,13781190.0
1,100001,2012-06-01,593,1.0,7,52,2,1,20.000000,0.0,...,0,0,0,0,9.480781e+06,1.673336e+07,9671770,1.018309e+07,9.493561e+06,15788650.0
2,100002,2012-06-01,91,0.0,4,58,3,0,30.000000,NaN,...,0,0,0,0,2.803662e+06,1.070637e+07,2945342,2.839899e+06,2.841441e+06,9957280.0
3,100003,2012-06-01,224,1.0,8,60,3,1,30.000000,0.0,...,0,0,0,0,8.159099e+06,1.087169e+07,7611609,7.331364e+06,7.452784e+06,12056190.0
4,100004,2012-06-01,426,NaN,2,54,3,0,30.000000,1.0,...,0,0,0,0,1.185160e+06,1.112388e+07,1223867,1.229279e+06,1.124272e+06,12316890.0
5,100005,2012-07-01,1,NaN,9,34,1,0,30.000000,0.0,...,0,0,0,0,1.622736e+06,9.944400e+06,1656981,1.655913e+06,1.673588e+06,10086940.0
6,100006,2012-07-01,203,0.0,3,58,3,0,21.940492,0.0,...,0,0,0,0,6.294244e+06,1.263784e+07,6100889,5.536591e+06,6.055409e+06,11606260.0
7,100007,2012-07-01,6,NaN,4,41,2,0,30.000000,1.0,...,0,0,0,0,3.350518e+06,9.922667e+06,3311867,3.183517e+06,3.477284e+06,10542630.0
8,100008,2012-07-01,267,0.0,12,63,3,0,25.000000,1.0,...,0,0,0,0,2.452367e+06,1.371472e+07,2442062,2.426748e+06,2.473710e+06,12221850.0
9,100009,2012-07-01,135,1.0,3,52,2,1,20.000000,1.0,...,0,0,0,0,4.338471e+06,1.233772e+07,4549418,4.672580e+06,4.559249e+06,15369160.0
10,100010,2012-07-01,339,NaN,5,55,3,0,30.000000,NaN,...,0,0,0,0,5.064169e+06,1.338193e+07,5623554,6.431092e+06,5.234156e+06,14085510.0
11,100011,2012-07-01,403,1.0,1,61,3,1,25.000000,0.0,...,0,0,0,0,5.320803e+06,1.318397e+07,5239073,5.282879e+06,5.140823e+06,13453910.0
12,100012,2012-07-01,206,NaN,3,52,2,0,30.000000,NaN,...,0,0,0,0,3.267366e+06,1.051549e+07,3163172,3.059629e+06,3.055236e+06,11439270.0
13,100013,2012-07-01,635,NaN,4,43,2,0,10.000000,0.0,...,0,0,0,0,2.410709e+06,1.622759e+07,2564280,2.588672e+06,2.564499e+06,13848260.0
14,100014,2012-07-01,615,0.0,1,61,3,0,30.000000,1.0,...,0,0,0,0,2.218391e+06,1.149509e+07,2493187,2.331531e+06,2.683114e+06,12460390.0
15,100015,2012-07-01,562,0.0,2,63,3,0,10.000000,NaN,...,0,0,0,0,6.090943e+06,1.987160e+07,6358943,5.931786e+06,6.665483e+06,18237350.0
16,100016,2012-07-01,63,0.0,3,35,1,0,20.000000,NaN,...,0,0,0,0,2.720677e+06,1.121821e+07,2949258,3.144254e+06,2.972588e+06,10850550.0
17,100017,2012-07-01,607,1.0,3,60,3,1,15.000000,NaN,...,0,0,0,0,7.876392e+06,1.883421e+07,7848186,7.764493e+06,7.754386e+06,18220130.0
18,100018,2012-07-01,52,1.0,11,34,1,1,25.000000,1.0,...,0,0,0,0,2.370518e+06,1.301880e+07,2327597,2.417284e+06,2.180260e+06,12600730.0
19,100019,2012-07-01,408,1.0,12,62,3,1,30.000000,NaN,...,0,0,0,0,9.586068e+06,1.197137e+07,9407115,8.760573e+06,9.301033e+06,11696400.0
20,100020,2012-07-01,223,1.0,6,51,1,1,25.000000,0.0,...,0,0,0,0,8.903110e+06,1.238249e+07,8791105,9.000158e+06,8.409304e+06,13342510.0
21,100021,2012-07-01,432,0.0,6,34,1,0,10.000000,NaN,...,0,0,0,0,2.755806e+06,1.523620e+07,2727551,2.659618e+06,2.674288e+06,14832320.0
22,100022,2012-07-01,438,NaN,3,54,3,0,25.000000,0.0,...,0,0,0,0,1.970867e+06,1.371221e+07,1969364,1.992119e+06,1.942942e+06,13128060.0
23,100023,2012-07-01,313,0.0,12,59,3,0,25.000000,0.0,...,0,0,0,0,4.214310e+06,1.302496e+07,4170194,4.008988e+06,4.232934e+06,11864950.0
24,100024,2012-07-01,588,0.0,1,61,3,0,10.000000,NaN,...,0,0,0,0,3.404987e+06,1.419564e+07,3551272,3.539584e+06,3.507064e+06,13631120.0
25,100025,2012-07-01,386,NaN,10,34,1,0,30.000000,1.0,...,0,0,0,0,4.085527e+06,1.494649e+07,4400718,4.260882e+06,4.938290e+06,16003540.0
26,100026,2012-07-01,134,1.0,5,60,3,1,5.000000,1.0,...,0,0,0,0,7.142566e+06,1.310721e+07,6989071,7.013483e+06,7.165711e+06,12350890.0
27,100027,2012-07-01,370,NaN,8,35,1,1,30.000000,0.0,...,0,0,0,0,2.998550e+06,1.092987e+07,2757243,2.470380e+06,2.907440e+06,11847020.0
28,100028,2012-07-01,540,0.0,7,61,3,0,10.000000,1.0,...,0,0,0,0,5.261490e+06,1.619601e+07,5363487,5.532337e+06,5.183657e+06,14601840.0
29,100029,2012-07-01,599,NaN,1,35,1,0,15.000000,1.0,...,0,0,0,0,3.127439e+06,1.431603e+07,3192396,3.384522e+06,3.003896e+06,13635790.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,199970,2013-12-01,564,NaN,2,41,2,0,15.000000,0.0,...,0,0,0,0,3.492228e+06,1.736879e+07,4167653,3.569503e+06,3.983406e+06,14734630.0
99971,199971,2013-12-01,529,NaN,5,58,3,1,15.000000,1.0,...,0,0,0,0,9.069016e+06,1.491433e+07,9677594,7.825543e+06,8.923822e+06,14570650.0
99972,199972,2013-12-01,222,1.0,5,37,1,0,20.000000,1.0,...,0,0,0,0,2.234254e+06,1.155472e+07,2291415,1.906848e+06,1.983511e+06,11393850.0
99973,199973,2013-12-01,155,NaN,8,61,3,0,25.000000,0.0,...,0,0,0,0,4.324426e+06,1.307081e+07,4933860,4.437439e+06,4.404039e+06,11829360.0
99974,199974,2013-12-01,531,1.0,9,61,3,0,30.000000,1.0,...,0,0,0,0,5.822158e+06,1.724208e+07,6525325,6.095179e+06,5.686799e+06,17781310.0
99975,199975,2013-12-01,81,0.0,5,54,3,0,25.000000,NaN,...,0,0,0,0,5.410348e+06,1.117012e+07,5409518,4.921963e+06,4.726438e+06,10200140.0
99976,199976,2013-12-01,82,1.0,7,52,2,1,15.000000,0.0,...,0,0,0,0,4.577205e+06,1.282416e+07,4958385,4.269424e+06,4.415271e+06,12585930.0
99977,199977,2013-12-01,450,NaN,1,61,3,0,10.000000,0.0,...,0,0,0,0,3.657905e+06,1.422797e+07,3866523,3.621132e+06,3.256482e+06,13801520.0
99978,199978,2013-12-01,172,0.0,2,40,2,0,25.000000,0.0,...,0,0,0,0,1.539113e+06,1.205475e+07,1776048,1.562917e+06,1.551260e+06,11308880.0
99979,199979,2013-12-01,152,0.0,2,48,2,0,20.000000,0.0,...,0,0,0,0,2.766170e+06,1.160137e+07,3191235,2.920128e+06,2.605177e+06,9250950.0
99980,199980,2013-12-01,620,0.0,5,58,3,0,30.000000,0.0,...,0,0,0,0,4.138811e+06,1.183769e+07,4500809,3.394535e+06,4.477868e+06,12764280.0
99981,199981,2013-12-01,37,0.0,4,33,1,0,30.000000,0.0,...,0,0,0,0,2.271427e+06,9.677093e+06,2553937,2.279794e+06,2.285046e+06,11069790.0
99982,199982,2013-12-01,598,1.0,5,35,1,0,15.000000,0.0,...,0,0,0,0,2.308111e+06,1.491841e+07,2718439,2.461423e+06,2.369412e+06,14238460.0
99983,199983,2013-12-01,530,1.0,11,51,2,1,15.000000,1.0,...,0,0,0,0,4.872324e+06,1.486496e+07,5505932,4.816993e+06,4.953709e+06,16050180.0
99984,199984,2013-12-01,398,NaN,8,48,2,0,10.000000,0.0,...,0,0,0,0,3.226411e+06,1.519996e+07,3791601,3.384841e+06,3.499495e+06,13984000.0
99985,199985,2013-12-01,158,1.0,5,61,3,1,21.940492,NaN,...,0,0,0,0,5.146730e+06,1.115651e+07,5576993,4.862175e+06,4.889321e+06,10777470.0
99986,199986,2013-12-01,469,NaN,7,125,4,1,15.000000,1.0,...,0,0,0,0,1.214372e+07,1.979292e+07,22203912,1.364590e+07,1.371084e+07,20322550.0
99987,199987,2013-12-01,342,NaN,1,33,1,0,15.000000,1.0,...,0,0,0,0,2.514020e+06,1.404311e+07,2839740,2.196346e+06,2.711083e+06,13211090.0
99988,199988,2013-12-01,625,NaN,11,61,3,1,25.000000,0.0,...,0,0,0,0,3.644671e+06,1.531037e+07,4600559,4.264956e+06,4.439338e+06,13802310.0
99989,199989,2013-12-01,525,NaN,11,51,2,1,20.000000,1.0,...,0,0,0,0,6.206287e+06,1.445357e+07,7194316,6.617193e+06,6.373918e+06,14223480.0
99990,199990,2013-12-01,139,NaN,1,51,2,0,15.000000,1.0,...,0,0,0,0,3.254734e+06,1.119044e+07,3155926,2.551248e+06,2.543608e+06,10525700.0
99991,199991,2013-12-01,668,0.0,1,31,1,0,30.000000,NaN,...,0,0,0,0,1.464684e+06,1.150781e+07,1741391,1.511053e+06,1.566958e+06,12844370.0
99992,199992,2013-12-01,504,NaN,2,59,3,0,20.000000,0.0,...,0,0,0,0,5.968972e+06,1.872879e+07,6768877,6.360391e+06,5.489937e+06,16953560.0
99993,199993,2013-12-01,660,NaN,8,61,3,0,10.000000,1.0,...,0,0,0,0,4.457997e+06,1.608229e+07,4714520,4.155809e+06,4.120086e+06,13980070.0
99994,199994,2013-12-01,142,1.0,3,52,2,0,30.000000,NaN,...,0,0,0,0,3.660381e+06,1.114555e+07,4237395,3.790074e+06,3.934951e+06,9290110.0
99995,199995,2013-12-01,594,NaN,1,52,2,1,30.000000,NaN,...,0,0,0,0,5.472482e+06,1.108680e+07,5725942,5.163786e+06,4.925209e+06,12076200.0
99996,199996,2013-12-01,21,NaN,1,59,3,0,30.000000,0.0,...,0,0,0,0,3.094048e+06,1.576345e+07,3890292,3.656045e+06,3.543876e+06,16818350.0
99997,199997,2013-12-01,193,1.0,8,59,3,0,25.000000,0.0,...,0,0,0,0,7.316876e+06,1.352597e+07,8176731,7.583769e+06,6.629448e+06,12692410.0
99998,199998,2013-12-01,19,1.0,2,33,1,1,25.000000,0.0,...,0,0,0,0,3.315792e+06,1.301461e+07,3669719,3.196545e+06,3.245513e+06,12890160.0
99999,199999,2013-12-01,263,1.0,2,60,3,0,20.000000,0.0,...,0,0,0,0,4.420757e+06,1.329237e+07,5005319,4.466515e+06,4.527505e+06,12297140.0

In [125]:
def f(x):
    if (x['area'] > 90) :
        if (x['year'] == 2012): return int( (x['price_x']+x['price_x_new'])/2.0)
        else: return int( (x['price_x']+x['price_x_new'])*coeff_x/2.0)
    else:
        if (x['year'] == 2012): return int( (x['price'] + x['price_norm'] + x['price_norm1'] + x['price_norm2'])/4.0 )
        else: return int( (x['price'] + (x['price_norm'] + x['price_norm1'] + x['price_norm2'])*coeff )/4.0 )
        
df_pred['price'] = df_pred.apply(lambda x: f(x), axis=1)

In [127]:
df_pred[["id", "price"]].to_csv("y_pred3.csv", index=False)

!cat y_pred3.csv | head

"cat" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.